<div class="hero">
  <div class="container">
    <h1 class="mbl">All the Great Things About Surf</h1>
    <p class="">Surf is a small but handy helper that allows you to organze content, capture your ideas and keep focus on whatever you're working on at the moment.</p>
    <div class="feature-grid row">
      <div class="col1of5">
        <div class="bullet">&amp;</div>
        <span class="feature-title">Interests</span>
      </div>
      <div class="col1of5">
        <div class="bullet icon-link"></div>
        <span class="feature-title">Links</span>
      </div>
      <div class="col1of5">
        <div class="bullet icon-text"></div>
        <span class="feature-title">Notes</span>
      </div>
      <div class="col1of5">
        <div class="bullet">#</div>
        <span class="feature-title">Hashtags</span>
      </div>
      <div class="col1of5">
        <div class="bullet icon-share"></div>
        <span class="feature-title">Sharing</span>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="by-center mbl">
      <h2 class="mbl">Organize Content by Interests</h2>
      <p class="words">
        If you think about it for a moment - each person has their own interests in different areas,
        and that's how they think about the content.
      </p>
    </div>
    <br />
    <div class="row feature">
      <div class="col2of5 prl">
        <div class="feature-description">
          <h3 class="mbl">Interests</h3>
          <p>In Surf we use a concept of <strong>Interests</strong> in order to organize content. Which is more natural way of thinking.</p>
          <p>You don't need to create a lot of categories for your content and then having hard times to decide which category does this peace of content belong to.</p>
          <p>It makes sense to save each link or note into a specific interest, so that it is much easier to find it within a defined context in a future.</p>
        </div>
      </div>
      <div class="col3of5 pll">
        <%= image_tag 'features/001.png', class: 'illustration on-right'%>
        &nbsp;
      </div>
    </div>
  </div>
</div>
<div class="section shaded">
  <div class="container">
    <div class="by-center mbl">
      <h2 class="mbl">Write Notes</h2>
      <p class="words">
        Inspiration and brilliant ideas come to our minds unexpectedly.
        And it is nice to have a handy tool that will help to capture and store them.
      </p>
    </div>
    <br />
    <div class="row feature">
      <div class="col3of5 prl">
        <%= image_tag 'features/002.png', class: 'illustration on-left' %>
        &nbsp;
      </div>
      <div class="col2of5 pll">
        <div class="feature-description">
        <h3 class="mbl">Notes</h3>
          <p>
            With Surf it is easy to write down your ideas wherever inspiration strikes.
            Surf is perfect for everything from quick notes to in-depth essays.
          </p>
          <p>Advanced markup editor allows you to format text, add links and focus on writing within specific context.</p>
          <p>Got ideas worth sharing? You can easily create a public page for your note and get shareable URL for it.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="by-center mbl">
      <h2 class="mbl">Collect Links Easily</h2>
      <p class="words">There is a lot of useful and inspiring information out there on the internet. There is a great way to collect and organize links and resources by personal interests.</p>
    </div>
    <br />
    <div class="row feature">
      <div class="col2of5 prl">
        <div class="feature-description">
          <h3 class="mbl">Links</h3>
          <p>
            Surf takes bookmarking links to entirely new level. You can collect your links organized by interests
            so that you always know where to look for things.
          </p>
          <p>Page's metadata gets stored within Surf, to give you a nice preview (with image and description) of an info that is behind this link.</p>
        </div>
      </div>
      <div class="col3of5">
        <%= image_tag 'features/003.png', class: 'illustration on-right' %>
        &nbsp;
      </div>
    </div>
  </div>
</div>
<div class="section shaded">
  <div class="container">
    <div class="by-center mbl">
      <h2 class="mbl">Categorize your Content</h2>
      <p class="words">Tagging is a powerful tool for categorizing your content. It allows your links and notes fall into multiple categories and simplifies searching and filtering.</p>
    </div>
    <div class="row feature">
      <div class="col3of5">
        <%= image_tag 'features/004.png', class: 'illustration on-left' %>
        &nbsp;
      </div>
      <div class="col2of5 pll">
        <div class="feature-description">
          <h3 class="mbl">Hashtags</h3>
          <p>With Surf you can further categorize your content within each interest by applying multiple hashtags to your links and notes.</p>
          <p>Use quick filters build from your most used hashtags within interest to find all the information you need.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="by-center mbl">
      <h2 class="mbl">Share your Interests</h2>
      <p class="words">Normally we as human beings share our interests and our passion with others. Shared interests allow us to communicate and collaborate with co-workers, friends and family.</p>
    </div>
    <br />
    <div class="row feature">
      <div class="col2of5 prl">
        <div class="feature-description">
          <h3 class="mbl">Sharing</h3>
          <p>Surf allows users to share any of your interests with other Surf users.</p>
          <p>
            You can easily find people by <strong>name</strong> or <strong>email</strong> and simply add
            them to an interest in order to share what you've got there.
          </p>
          <p>This also allows interest members to add their <strong>links</strong> and <strong>notes</strong> to interests you've shared with them.</p>
        </div>
      </div>
      <div class="col3of5">
        <%= image_tag 'features/005.png', class: 'illustration on-right' %>
        &nbsp;
      </div>
    </div>
  </div>
</div>
<div class="get-started">
  <div class="container row">
    <div class="col1of2">
      <h1>Get started with Surf</h1>
      <p>Available on Mac Os and Windows for Free</p>
    </div>
    <div class="col1of2">

      <a href="<%= @download[:installer] %>" class="button">
        Download v<%= @download[:version] %> for <%= @download[:platform].capitalize %>
      </a>
    </div>
  </div>
</div>
