<div class="avatar">
  {{#if avatar}}
    <img src="{{avatar.url}}" alt="" withd="28" height="28">
  {{else}}
    {{letter}}
  {{/if}}
</div>
<div class="last-col">
  <div class="col4of5">
    <div>{{first_name}} {{last_name}}</div>
    <div><small class="muted">{{email}}</small></div>
  </div>
  <div class="col1of5">
    {{#if isRemovable}}
      <div class="icon-cross right js-remove"></div>
    {{/if}}
  </div>
</div>
